.js-top-player span {
    font-size: 20px;
}

.js-stats-title {
    text-align: center;
    width:30%;
    margin-left: 35%;
    margin-right: 35%;
}

.jumbotron p {
    font-size: 11px;
}

.player-panel {
    background-color: orange;
}

.nav {
    padding-bottom: 15px;
}

.container {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
}

body {
    background: black;
}

.show-grid span {
    font-weight: bold;
}

.col-md-6 img {
    width:100%;
}

.js-top-player img {
    margin-left: 50%;
}

.navbar-header {
    padding-left: 10px;
}

.navbar {
    margin-top: 15px;
}

.col-md-6 p {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
}


